@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.navbar-fixed {
  @apply fixed z-[999] bg-white bg-opacity-70 drop-shadow-md backdrop-blur-sm transition duration-300 dark:bg-dark dark:bg-opacity-70;
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-dark dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

.div-RL {
  @apply -translate-y-[50px] opacity-0 duration-700 ease-in;
}
.div-show {
  @apply translate-y-0 opacity-100;
}

.about-right,
.about-left {
  @apply -translate-y-14 opacity-0 duration-500;
}

.about-show {
  @apply translate-y-0 opacity-100;
}

.active {
  @apply text-primary duration-500 dark:text-primary;
}

#preloader {
  background: rgba(0, 0, 0, 0.904) url(img/loading/loader2.gif) no-repeat center center;
  background-size: 55%;
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: fixed;
}

@media screen and (min-width: 770px) {
  #preloader {
    background-size: 35%;
  }
}

body {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #9dbfff 100%
  );
}

.wave {
  animation: wave 12s linear infinite;
}

.wave1 {
  animation: wave1 14s linear infinite;
}

.wave2 {
  animation: wave2 16s linear infinite;
}

@keyframes wave {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes wave1 {
  0% {
    transform: scaleY(1.2) translateX(0%);
  }

  100% {
    transform: scaleY(1.2) translateX(100%);
  }
}

@keyframes wave2 {
  0% {
    transform: scaleY(0.8) translateX(0%);
  }

  100% {
    transform: scaleY(0.8) translateX(100%);
  }
}

@media screen and (max-width: 1023px) {
  .waveanimate {
    height: 70%;
  }
}

.imghabibi {
  pointer-events: none;
}
